    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script src="../scripts/Index.js"></script>
    <script src="../bootstrap2.3.2/js/bootstrap.min.js"></script>
    <link href="../bootstrap2.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <title sec:authentication="name"></title>
    <link href="../styles/Common.css" rel="stylesheet" />
    <link href="../styles/Index.css" rel="stylesheet" />
    <script src="../scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $("#testAddProject").click(function(){
                $.ajax({
                    type: "POST",
                    url: "/addProject",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        projectName:"华为比赛",
                        level:"省级",
                        rank:"一等奖",
                        captainCollege:"计算机科学与工程学院",
                        teacher:"我",
                        note:"很好",
                        projectDate:"2016-8-20",
                        studentList:[
                            {registerId:201430560001,studentName:"一号",college:"计算机科学与工程学院",className:"计算机科学与工程1班",grade:2014,captainOrNot:1},
                            {registerId:201430560002,studentName:"二号",college:"计算机科学与工程学院",className:"计算机科学与工程2班",grade:2014},
                            {registerId:201430560003,studentName:"三号",college:"计算机科学与工程学院",className:"网络工程",grade:2014},
                            {registerId:201430560004,studentName:"四号",college:"计算机科学与工程学院",className:"信息安全",grade:2014},
                            {registerId:201430560005,studentName:"五号",college:"计算机科学与工程学院",className:"计算机创新班",grade:2014},
                            {registerId:201430560006,studentName:"六号",college:"计算机科学与工程学院",className:"计算机联合班",grade:2014},
                            {registerId:201430560007,studentName:"七号",college:"计算机科学与工程学院",className:"网络工程",grade:2014}
                        ]
                    }),
                    dataType:"json",
                    success: function (data,status) {
                        alert(JSON.parse(data)+"   "+status);
                        $("#addProject").val(JSON.parse(data));
                    }
                });
                $.ajax({
                    type: "POST",
                    url: "/addProject",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        projectName:"三星比赛",
                        level:"市级",
                        rank:"二等奖",
                        captainCollege:"建筑学院",
                        teacher:"我",
                        note:"很好",
                        projectDate:"2016-8-21",
                        studentList:[
                            {registerId:201430560008,studentName:"一号",college:"建筑学院",className:"建筑1班",grade:2014,captainOrNot:1},
                            {registerId:201430560009,studentName:"二号",college:"建筑学院",className:"建筑2班",grade:2014},
                            {registerId:201430560010,studentName:"三号",college:"建筑学院",className:"建筑3班",grade:2014},
                            {registerId:201430560011,studentName:"四号",college:"建筑学院",className:"建筑4班",grade:2014},
                            {registerId:201430560012,studentName:"五号",college:"建筑学院",className:"建筑5班",grade:2014},
                            {registerId:201430560013,studentName:"六号",college:"建筑学院",className:"建筑6班",grade:2014},
                            {registerId:201430560014,studentName:"七号",college:"建筑学院",className:"建筑1班",grade:2014}
                        ]
                    }),
                    dataType:"json",
                    success: function (data,status) {
                        alert(JSON.parse(data)+"   "+status);
                        $("#addProject").val(JSON.parse(data));
                    }
                });
//                $.post("/addProject",
//                        {
//                            projectName:"三星比赛",
//                            level:"省级",
//                            rank:"一等奖",
//                            captainCollege:"计算机科学与工程学院",
//                            teacher:"我",
//                            note:"很好",
//                            projectDate:"2016-8-20",
//                            studentList:[
//                                {registerId:201430560008,studentName:"一号",college:"计算机科学与工程学院",className:"计算机科学与工程1班",grade:2014,captainOrNot:1,projectList:null},
//                                {registerId:201430560009,studentName:"二号",college:"计算机科学与工程学院",className:"计算机科学与工程2班",grade:2014,captainOrNot:0,projectList:null},
//                                {registerId:201430560010,studentName:"三号",college:"计算机科学与工程学院",className:"网络工程",grade:2014,captainOrNot:0,projectList:null},
//                                {registerId:201430560011,studentName:"四号",college:"计算机科学与工程学院",className:"信息安全",grade:2014,captainOrNot:0,projectList:null},
//                                {registerId:201430560012,studentName:"五号",college:"计算机科学与工程学院",className:"计算机创新班",grade:2014,captainOrNot:0,projectList:null},
//                                {registerId:201430560013,studentName:"六号",college:"计算机科学与工程学院",className:"计算机联合班",grade:2014,captainOrNot:0,projectList:null},
//                                {registerId:201430560014,studentName:"七号",college:"计算机科学与工程学院",className:"网络工程",grade:2014,captainOrNot:0,projectList:null}
//                            ]
//                        },function (data,status) {
//                            alert(status);
//                            $("#addProject").html(data);
//                        },"json");
            });
            $("#testGetProject").click(function() {
                var url='/getProjects/'+$('#projectId1').val()+'/'+$('#projectId2').val();
                $.get(url, function (data, status) {
                    alert(JSON.parse(data)+"   "+status);
                    $("#getProjects").val(JSON.parse(data));
                });
            });
            $("#testAddStudents").click(function() {
                $.ajax({
                    type: "POST",
                    url: "/addStudents",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        projectId:parseInt($('#projectId1').val()),
                        studentList:[
                            {registerId:parseInt($('#projectId2').val()),studentName:"一号",college:"建筑学院",className:"建筑1班",grade:2014,captainOrNot:1}
                        ]
                    }),
                    dataType: "json",
                    success: function (data, status) {
                        alert(JSON.parse(data) + "   " + status);
                        $("#deleteProjects").val(JSON.parse(data));
                    }
                });
            });
            $("#testDeleteProjects").click(function() {
                $.ajax({
                    type: "POST",
                    url: "/deleteProjects",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(
//                        [parseInt($('#projectId1').val()), parseInt($('#projectId2').val())]
                            [parseInt($('#projectId1').val())]
                    ),
                    dataType: "json",
                    success: function (data, status) {
                        alert(JSON.parse(data) + "   " + status);
                        $("#deleteProjects").val(JSON.parse(data));
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="header">

        <!--<img class="logo" src="../images/logo.jpg" />-->
        <label class="logo-title">华南理工大学学生课外学术科技创新竞赛成果录入系统</label>
        <ul class="inline">
            <li>
                &nbsp;&nbsp;欢迎您,
                <img src="../images/32/client.png"/><p sec:authentication="name"></p>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle mymsg" data-toggle="dropdown" href="#">
                	<img src="../images/32/166.png" />&nbsp;&nbsp;修改个人信息<b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">修改密码</a></li>
                </ul>

            </li>
            <li>
                <form th:action="@{/logout}" method="post">
                    <img src="../images/32/200.png" />&nbsp;&nbsp;<input id="logout" type="submit" value="退 出"/>
                </form>
            </li>

        </ul>


    </div>


    <div class="nav">

        <ul class="breadcrumb">
            <li>
                <img src="../images/32/5025_networking.png" />
            </li>
            <li><a href="#">首页</a> <span class="divider">>></span></li>
            <li class="active"></li>
        </ul>
    </div>



    <div class="container-fluid content">
        <div class="row-fluid">
            <div class="span2 content-left">
            	<!--描述：选择学院               -->
                <div class="accordion">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#searchCollege">
                                <img class="left-icon" src="../images/32/15.png"/> <span class="left-title">学院</span>
                            </a>
                        </div>
                        <div id="searchCollege" class="accordion-body collapse in">
                            <div class="accordion-inner">

                                <select id="college">
                                    <option>机械与汽车工程学院</option>
                                    <option>建筑学院</option>
                                    <option>土木与交通学院</option>
                                    <option>电子与信息学院</option>
                                    <option>材料科学与工程学院</option>
                                    <option>化学与化工学院</option>
                                    <option>轻工科学与工程学院</option>
                                    <option>食品科学与工程学院</option>
                                    <option>数学学院</option>
                                    <option>物理与光电学院</option>
                                    　
                                    <option>经济与贸易学院</option>
                                    <option>自动化科学与工程学院</option>
                                    <option>计算机科学与工程学院</option>
                                    　　
                                    <option>电力学院</option>
                                    <option>生物科学与工程学院</option>
                                    <option>环境与能源学院</option>
                                    <option>软件学院</option>
                                    <option>工商管理学院（创业教育学院）</option>
                                    <option>公共管理学院</option>
                                    <option>马克思主义学院</option>
                                    <option>外国语学院</option>
                                    <option>法学院（知识产权学院）</option>
                                    <option>新闻与传播学院</option>
                                    <option>艺术学院</option>
                                    <option>体育学院</option>
                                    <option>设计学院</option>
                                    <option>医学院</option>
                                    <option>国际教育学院</option>
                                </select>


                            </div>
                        </div>

                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#searchId">
                                <img class="left-icon" src="../images/32/128.png"/><span class="left-title">学号查询</span>
                            </a>
                        </div>
                        <div id="searchId" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <form>
                                    <input type="search" id="Id"/>
                                    <input type="submit" value="查询"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button id="testAddProject">点我上传Project给服务器</button>
                </div>
                <div>
                    <button id="testGetProject">点我获取Projects从服务器</button>
                </div>
                <div>
                    <button id="testAddStudents">点我添加学生到服务器</button>
                </div>
                <div>
                    <p>id:
                        <input id="projectId1" type="text" name="projectId" value="" />
                        <input id="projectId2" type="text" name="projectId" value="" />
                    </p>
                    <button id="testDeleteProjects">点我从服务器删除指定Projects</button>
                </div>
                <br/>
                <div>
                    <textarea id="addProject"></textarea>
                    <textarea id="getProjects"></textarea>
                    <textarea id="deleteProjects"></textarea>
                </div>
                <!--<div>-->
                    <!--<form action="/test1" method="post">-->
                        <!--<label>-->
                            <!--<input  type="text" name="string" value=""/>-->
                        <!--</label>-->
                        <!--<input type="submit" value="post now"/>-->
                        <!--&lt;!&ndash;<input type="hidden" name="${_csrf.parameterName}" value=$("meta[name='_csrf']").attr("content")/>&ndash;&gt;-->
                    <!--</form>-->
                <!--</div>-->

            </div>

            <div class="span10 content-right">
                <iframe src="Index2.html" class="iframe"></iframe>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="foot"></div>


	<!--<div style="text-align:center;">-->

</body>
</html>
