<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/lib/bootstrap.min.css" rel="stylesheet" />
	<title>展示学院竞赛项目</title>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<link href="css/Common.css" rel="stylesheet" />
	<link href="css/projectManagement.css" rel="stylesheet" />

</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="add">
				<span>筛选条件：</span>
				<select id="filter" style="margin-top: 10px;">
					<option value="未选择">未选择</option>
					<option value="学院" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_INNER')">学院</option>
					<option value="年份">年份</option>
					<option value="竞赛等级">竞赛等级</option>
					<option value="所获奖项">所获奖项</option>
					<option value="获奖证明">获奖证明</option>
					<option value="审核状态">审核状态</option>
				</select>
			   <select id="filter-list" style="margin-top: 10px;">

<!--				<option>机械与汽车工程学院</option>
				<option>建筑学院</option>
				<option>土木与交通学院</option>
				<option>电子与信息学院</option>
				<option>材料科学与工程学院</option>
				<option>化学与化工学院</option>
				<option>轻工科学与工程学院</option>
				<option>食品科学与工程学院</option>
				<option>数学学院</option>
				<option>物理与光电学院</option>
				　
				<option>经济与贸易学院</option>
				<option>自动化科学与工程学院</option>
				<option>计算机科学与工程学院</option>
				　　
				<option>电力学院</option>
				<option>生物科学与工程学院</option>
				<option>环境与能源学院</option>
				<option>软件学院</option>
				<option>工商管理学院（创业教育学院）</option>
				<option>公共管理学院</option>
				<option>马克思主义学院</option>
				<option>外国语学院</option>
				<option>法学院（知识产权学院）</option>
				<option>新闻与传播学院</option>
				<option>艺术学院</option>
				<option>体育学院</option>
				<option>设计学院</option>
				<option>医学院</option>
				<option>国际教育学院</option>-->
			</select>
				<!--<a class="btn btn-primary" onclick="">查询</a>-->
				<span sec:authorize="hasRole('ROLE_OUTER')">
					<a class="btn btn-success" href="/projectAdd" target="_self" id="add">添加成果</a>
		    	</span>
				<span sec:authorize="hasRole('ROLE_ADMIN')">
					<a class="btn btn-success" id="excel">导出excel</a>
		    	</span>
				<div>
					<input type="checkbox" id="selCkb"/> 全选/全不选
				</div>
			</div>
			<div id="showPic">
				<img id="pic" style="position: absolute; top: 50px; left:300px; width: 400px;height:auto"/>
			</div>
			<div class="w">
				<div class="span12">
					<table class="table table-condensed table-bordered table-hover tab">
						<thead>
							<tr>
								<th>序号</th>
								<th>竞赛名称</th>
								<th>竞赛时间</th>
								<th>竞赛级别</th>
								<th>所获奖项</th>
								<th>参赛方式</th>
								<th>获奖者姓名</th>
								<th>所属学院</th>
								<th>指导老师</th>
								<th>获奖证明</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="tbody"></tbody>
					</table>
				</div>
			</div>

			<div id="operation">
				<a class="btn btn-primary" id="del">删除项目</a>
				<span  sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_INNER')">
					<a class="btn btn-primary" id="pass">通过</a>
					<a class="btn btn-primary" id="noPass">不通过</a>
				</span>

			</div>
		</div>
		<div>
			<div class="tr">
				每页显示<select id="size" style="width: 4em;"></select>条
			</div>
			<div>
				<a class="btn btn-success" id="first">首页</a>
				<a class="btn btn-success" id="prev">上一页</a>
				<a class="btn btn-success" id="next">下一页</a>
				<a class="btn btn-success" id="last">尾页</a>
				第<span id="cur" style="margin-left: 5px; margin-right: 5px">1</span>页 /
				共<span id="tot" style="margin-left: 5px; margin-right: 5px">5</span>页
			</div>
		</div>
	</div>

	<div id="noPassModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">审核</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label">不通过理由</label>
							<div class="controls">
								<textarea id="noPassReason"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
					<button class="btn btn-primary" id="save">保存</button>
				</div>
			</div>
		</div>
	</div>

	<div id="showPassModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myShowModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myShowModalLabel">审核</h3>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label">审核状态</label>
							<div class="controls">
								<input id="result" readonly="readonly" type="text"/>
							</div>
						</div>
						<div class="control-group" id="reasonGroup">
							<label class="control-label">不通过理由</label>
							<div class="controls">
								<textarea id="reason" readonly="readonly"></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/lib/jquery-1.9.1.min.js"></script>
	<script src="scripts/lib/bootstrap.min.js"></script>
	<script src="scripts/lib/BeatPicker.min.js"></script>
	<script src="scripts/lib/layer/layer.js"></script>
	<script src="scripts/lib/laypage.js"></script>
	<script src="scripts/projectManagement.js"></script>
	<script src="scripts/dict.js"></script>

</body>

</html>